.app-container {
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: grey;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.app-heading {
  text-align: center;
  color: #333;
}

.input-field {
  width: 80%;
  padding: 10px;
  margin-left: 50px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.fetch-button {
  margin-left: 240px;
  padding: 10px 15px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.fetch-button:hover {
  background-color: #0056b3;
}

.output-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.output-list {
  list-style-type: none; /* Remove default list styling */
  padding: 0;
}

.output-item {
  background-color: #f1f1f1;
  margin: 10px 0;
  padding: 15px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.output-item div {
  margin: 5px 0;
}

.output-item hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}
